






.card-donate-btn-container{
  display: flex;
  justify-content:center;
  align-items:center;
  .card-donate-btn{
    background-color: $logo_orange !important;
    width:100px !important;
    color:#fff !important;
  }
}

.shipping-next-btn{
  background-color: $logo_green !important;
  padding:9px 5px 9px 5px !important;
  width:120px !important;
  color:#fff !important;
}
.shipping-cancel-btn{
    background-color:none;
  padding:9px 5px 9px 5px !important;
  width:100px !important;
  color:#000 !important;
  &:hover{
    background-color:#fefefe;
  }
}

.billing-btn{
  background-color: $logo_orange !important;
  padding:9px 5px 9px 5px !important;
  width:200px !important;
  color:#fff !important;
}
.edit-btn{
  background-color: $logo_green !important;
  color:#fff !important;
  &:hover{
     background-color: $logo_orange !important;
  }
}
.profile-sbm-btn{
   background-color: $logo_orange !important;
  color:#fff !important;
   &:hover{
      background-color: $logo_green !important;
  }
}
.affiliate-login-btn{
   background-color: $logo_orange !important;
  color:#fff !important;
   &:hover{
      background-color: $logo_green !important;
  }
}
.affiliate-signup-btn{
   background-color: $logo_green !important;
  color:#fff !important;
   &:hover{
      background-color: $logo_orange !important;
  }
}
.top-nav-btn{
  background-color: $logo_orange !important;
  padding:11px !important;
  width:197px !important;
  color:#fff !important;
}
.auth-btn{
  background-color: $logo_orange !important;
  padding:11px !important;
  width:140px !important;
  color:#fff !important;
  border-radius: 20px !important;
  background-color: #e65100 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  transition: transform 80ms ease-in !important;
  &:active {
    transform: scale(0.95) !important;
  }  
}

.raise-fund-button{
  background-color: $logo_orange !important;
  width:100px !important;
  color:#fff !important;
}

.nav-btn{
  background-color: $logo_orange !important;
  padding-left:7px !important;
  padding-right:7px !important;
  width:100% !important;
}


.side-nav-btn{
  background-color: $logo_orange !important;
  padding-left:7px !important;
  padding-right:7px !important;
  width:100% !important;
}


.create-auction-btn{
  background-color: $logo_orange !important;
  color:#fff !important;
   &:hover{
    opacity:.8
  }
}
.create-project-btn{
  background-color: $logo_green !important;
  color:#fff !important;
    &:hover{
    opacity:.8
  }
}

.card-campaign-btn{
  background-color: $logo_orange !important;
  width:60% !important;
  color:#fff !important;
  padding:11px !important;
}
.card-share-btn{
  background-color: $logo_green !important;
  width:60% !important;
  color:#fff !important;
  padding:11px !important;
}
.read-btn{
  background-color: $logo_orange !important;
  padding:11px !important;
  width:140px !important;
  color:#fff !important;
}
.get-userType-button{
  background-color: $logo_orange !important;
  padding:11px !important;
  width:140px !important;
  color:#fff !important;
}
 .start-fund-raise-btn{ 
      background-color: $logo_green !important;
      color:#fff !important;
      width:150px;
      padding:8px 0 8px 0  !important;
    }  


.market-place-btn{
  background-color: $logo_orange !important;
  color:#fff !important;
  padding:5px !important;
  width:110px !important;
  font-size:1.3rem !important;
  &:hover{
    background-color: $logo_green !important;
  }
}

.more-market-support{
  padding-left:15px;
  padding-right:15px;
  margin:0 auto;
  width:100%;
  display:flex;
  justify-content: flex-end;
  @media(min-width:1200px){
   max-width:1160px;
}
@media(min-width:992px) and (max-width:1199px){
   max-width:960px;
}
@media(min-width:768px) and (max-width:991px){
  
   max-width:720px;
}
@media(min-width:568) and (max-width:767px){

      max-width:540px;
} 
}

// auth buttons
@mixin auth-buttons {
  border-radius: 20px;
  border: 1px solid #e65100;
  background-color: #e65100;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}
.auth-button {
  @include auth-buttons;
  cursor:pointer;
  @media screen and (max-width:669px) {
    width:150px !important;
  }
}
.verify-btn{
  background-color: $logo_orange !important;
  color:#fff !important;
  padding:10px !important;
  width:120px !important;
}

.green-btn{
  background-color:$logo_green;
  outline:none !important;
  border:none !important;
  &:focus{
      outline:none !important;
      border:none !important;
  }
}

.orange-btn{
  background-color:$logo_orange !important;
  outline:none !important;
  border:none !important;
}

.personal-form-but{
  background-color:$logo_orange !important;
  outline:none !important;
  border:none !important;
  color:#fff !important;
  padding:7px 15px;
  border-radius:4px;
  &:hover{
    cursor:pointer !important;
    background-color:$logo_green !important;
  }
}
.profile-form-but{
  background-color:$logo_orange !important;
  outline:none !important;
  border:none !important;
  color:#fff !important;
  padding:7px 15px;
  border-radius:4px;
  &:hover{
    cursor:pointer !important;
    background-color:$logo_green !important;
  }
}
 .next-action-btn{
  background-color:$logo_green !important;
  outline:none !important;
  border:none !important;
  color:#fff !important;
  padding:7px 15px;
  border-radius:4px;
  &:hover{
    cursor:pointer !important;
    opacity:.9;
    outline:none
  }
}
 .cancel-btn, .previous-action-btn{
  outline:none !important;
  border:none !important;
  color:#000 !important;
  padding:7px 15px;
  border-radius:4px;
  background:none;
  &:hover{
    cursor:pointer !important;
    background-color:#f3f3f3!important;
    outline:none
  }
}

.coorporate-form-but{
  background-color:$logo_orange !important;
  outline:none !important;
  border:none !important;
  color:#fff !important;
  padding:7px 15px;
  border-radius:4px;
  &:hover{
    cursor:pointer !important;
    background-color:$logo_green !important;
  }
}

// 
.donate-cash-submit{
	width: 100px;
	background:$logo_green;
	font-weight: bold;
	color:#fff;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
  &:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px $logo_green;
  }
}

.previous-action-button{
	width: 75px;
	background:$logo_green;
	color:#fff;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 7px 5px;
  &:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px $logo_green;
  }
}


// mui linear tab button
.MuiAppBar-colorPrimary{
  color:#000 !important;
  box-shadow: none !important;
  background-color: #fff !important;
}
// mi lineaer
.MuiLinearProgress-barColorPrimary{
  background-color: $logo_green !important;
}
// swiper bullet
.swiper-pagination-bullet-active{
  background:$logo_orange !important;
  margin-top:150px;
}
.swiper-pagination-bullet{
  margin-top:200px;
}

.MuiStepIcon-root.MuiStepIcon-active{
  color:#F58502 !important;
}

.MuiStepIcon-root.MuiStepIcon-completed{
  color: $logo_green !important;
}

.MuiButton-containedPrimary {
  background-color: $logo_green !important;
}
.MuiButton-textPrimary{
  color:#000 !important;
}
.MuiSnackbarContent-root{
  background-color:#F58502 !important;
} 


.MuiTab-root{
  background:none !important;
}

.add_cart_btn{
  background-color: $logo_orange !important;
  width:100% !important;
  color:#fff !important;
  &:hover{
    opacity:.8;
  }
}

.bid_btn{
  background-color: $logo_orange !important;
  width:125px !important;
  color:#fff !important;
  cursor:pointer;
}

.back_product{
  background-color: $logo_green !important;
  width:195px !important;
  color:#fff !important;
}

.PrivateTabIndicator-colorSecondary-3 {
  border-bottom: 2px solid #C75A00 !important;
}
// bidnow button on auction
.btn-bidding{
  width: 180px;
  height: 40px;
  cursor: pointer;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
   color: #C75A00;
   outline: none;
   border:2px solid #C75A00;
   background-color:#fff;
   &:hover{
       color:#0F6929;   
       border: 2px solid #0F6929;
       outline: none;
   }
 }

.buy-btn-bidding{
  width: 220px;
  height: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
   color: #C75A00;
   outline: 2px solid #C75A00;
   border:none;
   background-color:#fff;
   &:hover{
       color:#0F6929;
       outline: 2px solid #0F6929;
   }
 }
 
.cart-paybtn{
  width: 180px;
  height: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size:1rem;
   color: #000;
   outline: 2px solid #C75A00;
   border:none;
   background-color:#fff;
   &:hover{
       opacity:.8;
   }
 }

