    .card{
        .card-img-top{
            height:170px;
            cursor:pointer;
        }
        .card-title{
            &:hover{
                cursor:pointer;
            }
        }
        .contributed-progress-view{
         height:17px;
        }
        .donated-ws{
            justify-content:space-between;
        }
        .fund-category{
            width:80% !important;
        }
        .ai-outline{
            margin-top:-1px;
        }
        .truncate{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
     
  
    #share-modal{
        z-index:2300 !important
    }

