.coorporate-form-container{
    width:100%;
    margin-right:auto;
    margin-left: auto;
    max-width:550px;
    box-shadow: rgba(78, 38, 38, 0.35)  0 5px 15px 0px;
    background-color: #fff;
    height:800px;
    .coorporate-reg-heading{
        background-color: $logo_green;
    }
    .all-fields{
        margin:0 auto;
        max-width:500px;
     
    }
    .coorporate-reg-fields {
        width:100%; 
        .field-inputs{
            width:100%;
        }
    }
}