.password-form-container, .withdrawal-form-container{
    width:100%;
    margin-right:auto;
    margin-left: auto;
    max-width:600px;
    box-shadow: rgba(78, 38, 38, 0.35)  0 5px 15px 0px;
    background-color: #fff;
    height:480px;
    .password-reg-heading{
        background-color: $logo_green;
    }
    .edit-password-fields, .edit-withdrawal-fields{
        margin:0 auto;
       padding:0 25px;
    }
    .password-reg-fields, .withdrawal-reg-fields {
        .field-inputs{
            width:100%;
        }
      }
   }
   .password-inputs, .withdrawal-inputs{
            width:100% !important;
            padding:15px !important;
            border-radius:3px !important;
            outline:none !important;
            border:1px solid #ccc !important;
            &:focus{
                border:1px solid #05591B !important;
            }
        }


