
* {
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}

.profile_header {
	display: block;
}

[tabindex='-1'] {
	&:focus {
		outline: 0 !important;
	}
}
.profile_hr {
	overflow: visible;
	box-sizing: content-box;
	height: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}
.all-heading {
	margin-top: 0;
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: .5rem;
	font-size: 1.625rem;
}
.rounded-circle-img {
	vertical-align: middle;
	border-style: none;
	border-radius:50%;
	width:100%;
}

.about_textarea {
	margin: 0;
	overflow: auto;
	resize: vertical;
}
[type='reset'] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		padding: 0;
		border-style: none;
	}
}
[type='submit'] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		padding: 0;
		border-style: none;
	}
}
[type='button'] {
	&::-moz-focus-inner {
		padding: 0;
		border-style: none;
	}
}

[type='number'] {
	&::-webkit-inner-spin-button {
		height: auto;
	}
	&::-webkit-outer-spin-button {
		height: auto;
	}
}

.form-control {
	font-size: 1rem;
	line-height: 1.5;
	display: block;
	width: 100%;
	height: calc(2.75rem + 2px);
	padding: .625rem .75rem;
	transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
	color: #8898aa;
	border: 1px solid #cad1d7;
	border-radius: .375rem;
	background-color: #fff;
	background-clip: padding-box;
	box-shadow: none;
	font-size: .875rem;
	&::-ms-expand {
		border: 0;
		background-color: transparent;
	}
	&:focus {
		color: #8898aa;
		// border-color: #0F6929 !important;
		border:none;
		outline: none;
		background-color: #fff;
		box-shadow: none, none;
		&:-ms-input-placeholder {
			color: #adb5bd;
		}
		&::-ms-input-placeholder {
			color: #adb5bd;
		}
		&::placeholder {
			color: #adb5bd;
		}
	}
	&:-ms-input-placeholder {
		opacity: 1;
		color: #adb5bd;
	}
	&::-ms-input-placeholder {
		opacity: 1;
		color: #adb5bd;
	}
	&::placeholder {
		opacity: 1;
		color: #adb5bd;
	}
	&:disabled {
		opacity: 1;
		background-color: #e9ecef;
	}
}
.form-control[readonly] {
	opacity: 1;
	background-color: #e9ecef;
}
textarea.form-control {
	height: auto;
}
.form-group {
	margin-bottom: 1.5rem;
}
.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.input-group {
	position: relative;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: stretch;
	transition: all .15s ease;
	border-radius: .375rem;
	box-shadow: none;
	transition: all .15s ease;
	border-radius: .375rem;
	box-shadow: none;
	>.form-control {
		position: relative;
		width: 1%;
		margin-bottom: 0;
		flex: 1 1 auto;
		&:focus {
			z-index: 3;
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	>.form-control+.form-control {
		margin-left: -1px;
	}
	>.input-group-prepend {
		>.btn {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		>.input-group-text {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			>.btn {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			>.input-group-text {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		&:first-child {
			>.btn {
				&:not(:first-child) {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
			>.input-group-text {
				&:not(:first-child) {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
	.btn {
		margin-right: 0;
		transform: translateY(0);
	}
	.form-control {
		box-shadow: none;
		box-shadow: none;
		&:not(:first-child) {
			padding-left: 0;
			border-left: 0;
			padding-left: 0;
			border-left: 0;
		}
		&:not(:last-child) {
			padding-right: 0;
			border-right: 0;
			padding-right: 0;
			border-right: 0;
		}
		&:focus {
			box-shadow: none;
			box-shadow: none;
			outline:none !important;
		
		}
	}
}
.input-group-prepend {
	display: flex;
	margin-right: -1px;
	.btn {
		position: relative;
		z-index: 2;
	}
	.btn+.btn {
		margin-left: -1px;
	}
	.btn+.input-group-text {
		margin-left: -1px;
	}
	.input-group-text+.input-group-text {
		margin-left: -1px;
	}
	.input-group-text+.btn {
		margin-left: -1px;
	}
}
.input-group-text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	display: flex;
	margin-bottom: 0;
	padding: .625rem .75rem;
	text-align: center;
	white-space: nowrap;
	color: #adb5bd;
	border: 1px solid #cad1d7;
	border-radius: .375rem;
	background-color: #fff;
	align-items: center;
	transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
	transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
	input[type='radio'] {
		margin-top: 0;
	}
	input[type='checkbox'] {
		margin-top: 0;
	}
}

.card-profile {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border: 1px solid rgba(0, 0, 0, .05);
	border-radius: .375rem;
	background-color: #fff;
	background-clip: border-box;
	>hr {
		margin-right: 0;
		margin-left: 0;
	}
}
.card-body {
	padding: 1.5rem;
	flex: 1 1 auto;
}
.card-header {
	margin-bottom: 0;
	padding: 1.25rem 1.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	background-color: #fff;
	&:first-child {
		border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
	}
}
.progress {
	font-size: .75rem;
	display: flex;
	overflow: hidden;
	height: 1rem;
	border-radius: .375rem;
	background-color: #e9ecef;
	box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, .1);
	overflow: hidden;
	height: 8px;
	margin-bottom: 1rem;
	border-radius: .25rem;
	background-color: #e9ecef;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.media {
	display: flex;
	align-items: flex-start;
}
.media-body {
	flex: 1 1;
}
.bg-secondary {
	background-color: #f7fafc !important;
}
a.bg-secondary {
	&:hover {
		background-color: #d2e3ee !important;
	}
	&:focus {
		background-color: #d2e3ee !important;
	}
}
button.bg-secondary {
	&:hover {
		background-color: #d2e3ee !important;
	}
	&:focus {
		background-color: #d2e3ee !important;
	}
}
.bg-default {
	background-color: #172b4d !important;
}
a.bg-default {
	&:hover {
		background-color: #0b1526 !important;
	}
	&:focus {
		background-color: #0b1526 !important;
	}
}
button.bg-default {
	&:hover {
		background-color: #0b1526 !important;
	}
	&:focus {
		background-color: #0b1526 !important;
	}
}
.bg-white {
	background-color: #fff !important;
	background-color: #fff !important;
	background-color: #fff !important;
}
a.bg-white {
	&:hover {
		background-color: #e6e6e6 !important;
		background-color: #e6e6e6 !important;
	}
	&:focus {
		background-color: #e6e6e6 !important;
		background-color: #e6e6e6 !important;
	}
}
button.bg-white {
	&:hover {
		background-color: #e6e6e6 !important;
		background-color: #e6e6e6 !important;
	}
	&:focus {
		background-color: #e6e6e6 !important;
		background-color: #e6e6e6 !important;
	}
}

.shadow {
	box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}
.card-profile-image {
	img {
		box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
		position: absolute;
		left: 50%;
		max-width: 180px;
		transition: all .15s ease;
		transform: translate(-50%, -30%);
		border-radius: .375rem;
		&:hover {
			transform: translate(-50%, -33%);
		}
	}
	position: relative;
}

.bg-gradient-default {
	background: #f9f9f9;
}
.opacity-8 {
	opacity: .8 !important;
	opacity: .9 !important;
}
.center {
	left: 50%;
	transform: translateX(-50%);
}
[class*='shadow'] {
	transition: all .15s ease;
}
.font-weight-300 {
	font-weight: 300 !important;
}
.text-sm {
	font-size: .875rem !important;
}
.avatar {
	font-size: 1rem;
	display: inline-flex;
	width: 48px;
	height: 48px;
	color: #fff;
	border-radius: 50%;
	background-color: #adb5bd;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
		border-radius: 50%;
	}
}
.avatar-sm {
	font-size: .875rem;
	width: 36px;
	height: 36px;
}
[class*='btn-outline-'] {
	border-width: 1px;
}
.card-profile-stats {
	padding: 1rem 0;
	>div {
		margin-right: 1rem;
		padding: .875rem;
		text-align: center;
		&:last-child {
			margin-right: 0;
		}
		.heading {
			font-size: 1.1rem;
			font-weight: bold;
			display: block;
		}
		.description {
			font-size: .875rem;
			color: #adb5bd;
		}
	}
}
.main-content {
	position: relative;
	.navbar-top {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		padding-right: 0 !important;
		padding-left: 0 !important;
		background-color: transparent;
	}
}

.profile-control-label{
	font-size: .875rem;
	font-weight: 600;
	display: inline-block;
	margin-bottom: .5rem;
}
textarea[resize='none'] {
	resize: none !important;
}
textarea[resize='both'] {
	resize: both !important;
}
textarea[resize='vertical'] {
	resize: vertical !important;
}
textarea[resize='horizontal'] {
	resize: horizontal !important;
}
.form-control-alternative {
	transition: box-shadow .15s ease;
	border: 0;
	// box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);

}
.input-group-alternative {
	transition: box-shadow .15s ease;
	border: 0;
	box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
	transition: box-shadow .15s ease;
	border: 0;
	box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
	.form-control {
		border: 0;
		box-shadow: none;
		border: 0;
		box-shadow: none;
	}
	.input-group-text {
		border: 0;
		box-shadow: none;
		border: 0;
		box-shadow: none;
	}
}
.focused {
	box-shadow: none;
		box-shadow: none;
		border:none;
	.input-group {
		box-shadow: none;
		box-shadow: none;
	}
	.input-group-text {
		color: #8898aa;
		border-color: rgba(50, 151, 211, .25);
		background-color: #fff;
		color: #8898aa;
		border-color: rgba(50, 151, 211, .25);
		background-color: #fff;
	}
}
.navbar-search {
	.input-group {
		border: 2px solid;
		border-radius: 2rem;
		background-color: transparent;
		.input-group-text {
			padding-left: 1rem;
			background-color: transparent;
		}
	}
	.form-control {
		width: 270px;
		background-color: transparent;
		&:focus{
			outline:none !important;
		}
	}
}
.navbar-search-dark {
	.input-group {
		border-color: rgba(255, 255, 255, .6);
	}
	.input-group-text {
		color: rgba(255, 255, 255, .6);
	}
	.form-control {
		color: rgba(255, 255, 255, .9);
		&:-ms-input-placeholder {
			color: rgba(255, 255, 255, .6);
		}
		&::-ms-input-placeholder {
			color: rgba(255, 255, 255, .6);
		}
		&::placeholder {
			color: rgba(255, 255, 255, .6);
		}
	}
	.focused {
		.input-group {
			border-color: rgba(255, 255, 255, .9);
		}
	}
}
.description {
	font-size: .875rem;
}
.heading {
	font-size: .95rem;
	font-weight: 600;
	letter-spacing: .025em;
	text-transform: uppercase;
}


@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	.form-inline {
		label {
			display: flex;
			margin-bottom: 0;
			align-items: center;
			justify-content: center;
		}
		.form-group {
			display: flex;
			margin-bottom: 0;
			flex: 0 0 auto;
			flex-flow: row wrap;
			align-items: center;
		}
		.form-control {
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}
		.input-group {
			width: auto;
		}
	}
}
@media (min-width: 768px) {	
	.main-content {
		.container-fluid {
			padding-right: 39px !important;
			padding-left: 39px !important;
		}
	}	
@media screen and (prefers-reduced-motion: reduce) {
	.form-control {
		transition: none;
	}
	.btn {
		transition: none;
	}
	.mask {
		transition: none;
	}
}

@media print {
	* {
		box-shadow: none !important;
		text-shadow: none !important;
		&::before {
			box-shadow: none !important;
			text-shadow: none !important;
		}
		&::after {
			box-shadow: none !important;
			text-shadow: none !important;
		}
	}
	img {
		page-break-inside: avoid;
	}
	p {
		orphans: 3;
		widows: 3;
	}
}
}