
.ogadonate-text{
  line-height:35px;
  opacity:1;
  font-family:'Muli', sans-serif;
  color:#000;
  font-size:1.2rem;
  text-align: justify;
   text-justify: inter-word;
   @media(max-width: 344px){
    text-align: left;
   }
}



 

