
.description-container {
 @media screen and (min-width:1200px){
    max-width:890px !important;
 }
  .description-text{
    letter-spacing: -2px;
    word-spacing:1px;  
    font-size:1.7rem;
    line-height:40px;
    text-align: left;
  }
  .description-sub-text{
    font-size:1.4rem;
    text-align: justify;
    text-justify: inter-character;
    
  }
  .description-header{
    list-style:circle;
  }
  .description-read-more{
    font-size:1.58rem;
  }
}