.user-type-container{
    margin:20px auto;
    max-width:750px;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    height:800px;
    // @media(min-width:1200px){
    //     max-width:750px;
    // }
   .user-type-row{
   display:flex;
   justify-content: center;
   margin-top:100px;
   }
}
